body {
    background-color: #24273A;
    color: #EDF2F4;
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1,
h2 {
    text-align: center;
    color: #EFB366;
}

p {
    margin: 10px 0;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}

header {
    padding-bottom: 20px;
    border-bottom: 2px solid #4A4E69;
    margin-bottom: 20px;
}

.search-box {
    text-align: center;
    margin-bottom: 20px;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-label {
    color: #EDF2F4;
    margin-right: 10px;
}

.input-group {
    display: flex;
    align-items: center;
}

.search-input {
    width: 30em;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3B3B58;
    color: #EDF2F4;
    font-size: 16px;
    margin-right: 10px;
}

.search-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #8D99AE;
    color: #EDF2F4;
    font-size: 16px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #6B7089;
}

.statistics {
    margin-bottom: 20px;
}

.token-list {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #4A4E69;
}

th {
    background-color: #3B3B58;
}

tr:hover {
    background-color: #4A4E69;
}

a {
    color: #8D99AE;
    text-decoration: none;
    transition: color 0.25s ease-in;
}

a:hover {
    color: #D90429;
    text-decoration: underline;
}

.network-nav {
    text-align: center;
    margin-top: 10px;
}

.network-nav ul {
    padding: 0;
    list-style: none;
    display: inline-block;
    /* Center the list */
}

.network-nav li {
    display: inline;
    margin: 0 10px;
}

.network-nav a {
    font-size: 1.5em;
    /* Make text larger */
    text-decoration: none;
    color: #333;
    /* Set a text color */
    padding: 10px 20px;
    border: 1px solid #333;
    /* Set a border */
    border-radius: 5px;
    /* Optional: rounded corners */
}



.network-nav a.active,
.network-nav a:hover {
    background-color: #333;
    color: #fff;
}


.footer {
    text-align: center;
    padding: 20px;
    background-color: #3B3B58;
    color: #EDF2F4;
    border-top: 1px solid #4A4E69;
    margin-top: 40px;
    clear: both;
}

.footer p {
    margin: 5px 0;
    color: #EDF2F4;
}

.footer a {
    color: #8D99AE;
    text-decoration: none;
    transition: color 0.25s ease-in;
}

.footer a:hover {
    color: #D90429;
    text-decoration: underline;
}
